body {
    line-height: normal;
    font-weight: 300;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    color: #171717;
    height: 100%;
    background-color: #EEEEEE;
    word-break: break-all;
    margin: 0px !important;
}

h1 {
  text-align: center;
  color: #f5dd5d;
  font-family: 'Lobster Two', Helvetica, Arial, sans-serif;
  background-color: #417690;
  padding: 20px;
  margin: 0px !important;
}

h2 {
  margin-left: 20px;
}

p {
  margin-left: 30px;
}

.light {
    border: none;
    height: 1px;
    color: #dbdbdb; /* old IE */
    background-color: #dbdbdb; /* Modern Browsers */
}

.heavy {
  color: #000;
  background-color: #000;
}
