body {
    line-height: normal;
    font-weight: 300;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    color: #171717;
    height: 100%;
    background-color: #EEEEEE;
    word-break: break-all;
    margin: 0px !important;
}

h1 {
    font-family: 'Lobster Two', Helvetica, Arial, sans-serif;
    margin: 0px !important;
}

.header {
    text-align: center;
    color: #f5dd5d;
    background-color: #417690;
    padding: 10px;
    margin: 0px !important;
}

i {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
}

h2 {
    margin-left: 20px;
}

p {
    margin-left: 30px;
}

a {
    color: #f5dd5d;
    text-decoration: none;
}

.light {
    border: none;
    height: 1px;
    color: #dbdbdb; /* old IE */
    background-color: #dbdbdb; /* Modern Browsers */
}

.heavy {
    color: #000;
    background-color: #000;
}

.highlighted {

    background-color: yellow;
}

.highlight {
    background-color: #fff34d;
    -moz-border-radius: 5px; /* FF1+ */
    -webkit-border-radius: 5px; /* Saf3-4 */
    border-radius: 5px; /* Opera 10.5, IE 9, Saf5, Chrome */
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* FF3.5+ */
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Saf3.0+, Chrome */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Opera 10.5+, IE 9.0 */
}

.highlight {
    padding: 1px 4px;
    margin: 0 -4px;
}

.textSearchvalue_h {
    margin-top: 10px;

}
