<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- CSS -->
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "main/style.css" %}"/>
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lobster+Two:400italic' rel='stylesheet' type='text/css'>
</head>
<body>
    <h1>Licenses Sorter</h1>
    {% if pcs %}
        {% for pc in pcs %}
            <h2>{{ pc.title }}</h2>
            <p>
            <i>{{ pc.description }}</i> <br>
            <ol>
                {% for license in pc.license_set.all %}
                    <li> <b>{{ license.title }}</b>: {{ license.description }} </li>
                {% endfor %}
            </ol>
            </p>
            <hr class="light">
        {% endfor %}
    {% endif %}
</body>
</html>
